Package: com.tomaszpoliszuk.magnifierappenabler
Depends: firmware (>= 10.0), firmware (<< 15.0), mobilesubstrate
Name: Magnifier App Enabler
Version: 1.0
Architecture: iphoneos-arm
Description: Unhide Magnifier app so it can be displayed on home screen (like on iOS 15)
Author: Tomasz Poliszuk
Section: Tweaks
dev: tomaszpoliszuk
